.fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 0;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 500ms;
 }
 .post-card{
   height: 115px !important;
   background-position: center;
   background-size: cover;
   border-bottom-right-radius: 7px;
   border-bottom-left-radius: 7px;
   word-wrap: break-word;
 }
 .post-title{
   border-top-right-radius: 7px;
   border-top-left-radius: 7px;
   font-size: 18px;
   line-height: 25px;
   word-wrap: break-word;
 }
 .stickycard{
   position: sticky;
   top: 0;
   z-index: 3000;
 }
 .callcard{
   font-size: 18px;
  
 }
 .lh{
   line-height: 1.6;
 }
 .word-wrap{
   word-wrap: anywhere !important;
 }
 .carousel .slide{
   min-height: 209px !important;
 }
.card{
   overflow: hidden !important;
}
.pcard{
   width: 47% !important;
}
.instock-badge span{
   display: block;
	transform: rotate(-45deg);
	font-weight: bold;
	text-align: center;
	width: 100px;
	position: absolute;	/* top: ; */
   color: white !important;
	left: -30px;
	background: #18cf0b;
	top: 15px;
	width: 116px;
	overflow: hidden;
}
 .sold-out-badge span {
	display: block;
	transform: rotate(-45deg);
	font-weight: bold;
	text-align: center;
	width: 100px;
	position: absolute;	/* top: ; */
   color: white !important;
	left: -30px;
	background: #c01d1d;
	top: 15px;
	width: 116px;
	overflow: hidden;
}
 
.bg_post{
   color: white !important;
   position: absolute !important;
   background: #000000a3 !important;
   left: 0;
   bottom: 0;
   width: 100% !important;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}

@property --angle {
   syntax: '<angle>';
   initial-value: 90deg;
   inherits: true;
 }
 
 @property --gradX {
   syntax: '<percentage>';
   initial-value: 50%;
   inherits: true;
 }
 
 @property --gradY {
   syntax: '<percentage>';
   initial-value: 0%;
   inherits: true;
 }

 
 :root {
    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgb(242, 255, 0);
    --c2: rgb(0, 247, 255);
    --c3: rgb(242, 255, 0);
    --c4: rgb(255, 21, 0);
    --c5: rgb(255, 0, 166);
    --c6: rgb(0, 255, 55);
 }
 
 .wrapper {
    min-width: min(40rem, 100%);
 }
 
 .box {
    border: 0.15rem solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
    animation: borderRotate var(--d) linear infinite forwards;
 }
 
 .box:nth-child(2) {
    border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c1), var(--c1) 10%, var(--c2) 40%) 30;
    animation: borderRadial var(--d) linear infinite forwards;
 }

 .box2 {
   border: 0.15rem solid;
   border-image: conic-gradient(from var(--angle), var(--c4), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c4) 0.25turn) 30;
   animation: borderRotate var(--d) linear infinite forwards;
}

.box2:nth-child(2) {
   border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c3), var(--c3) 10%, var(--c4) 40%) 30;
   animation: borderRadial var(--d) linear infinite forwards;
}

.box3 {
   border: 0.15rem solid;
   border-image: conic-gradient(from var(--angle), var(--c6), var(--c5) 0.1turn, var(--c5) 0.15turn, var(--c6) 0.25turn) 30;
   animation: borderRotate var(--d) linear infinite forwards;
}

.box3:nth-child(2) {
   border-image: radial-gradient(ellipse at var(--gradX) var(--gradY), var(--c5), var(--c5) 10%, var(--c6) 40%) 30;
   animation: borderRadial var(--d) linear infinite forwards;
}
 
 @keyframes borderRotate {
    100% {
       --angle: 420deg;
    }
 }
 
 @keyframes borderRadial {
    20% {
       --gradX: 100%;
       --gradY: 50%;
    }
    40% {
       --gradX: 100%;
       --gradY: 100%;
    }
    60% {
       --gradX: 50%;
       --gradY: 100%;
    }
    80% {
       --gradX: 0%;
       --gradY: 50%;
    }
    100% {
       --gradX: 50%;
       --gradY: 0%;
    }
 }